<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Bootstrap starter template</p>
      <p>Use this document as a way to quickly start any new project.</p>
      <p>All you get is this text and a mostly barebones HTML document.</p>
    </div>
  </div>
</div>
