<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Bootstrap starter template</h1>
      <h3>Use this document as a way to quickly start any new project.</h3>
    
    </div>
  </div>
</div>
